$darkPink: #FB7C84;
$lightOrange: #FFB865;
$toxicYellow: #D4EE47;
$forestGreen: #6ED6A4;
$violent: #883CDA;
$lightBlue: #5AC4FF;
$darkText: #141516;
$greyInp: #a5a5a9;
$white: #ffffff;
$redErrorInp: #e04343;
$redErrorText: #D12121;
$disableBtn: #cb9bff;
$disableTxt:#f8f8f8;
$orangeDots: #FF7A00;