@mixin impact($weight) {
  font-family: "Bowlby One", sans-serif;
  font-weight: $weight;
  font-style: normal;
}

@mixin roboto($weight) {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin btnToText($backgroundColor: rgba(0, 0, 0, 0), $border: none) {
  background-color: $backgroundColor;
  border: $border;
  cursor: pointer;
}

// ---------------------IMPACT--------------------

// .alumni-sans-<uniquifier> {
//   font-family: "Alumni Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

// ---------------------ROBOTO--------------------

// .roboto-<uniquifier> {
//   font-family: "Roboto", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "wdth" 100;
// }
